<h1>Edit Sponsored Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for sponsored posts</p>
    <ul>
      <li>Make sure the product/service is doggie approved.</li>
      <li>Don't use the word "cat".</li>
      <li>The more you pay the better.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@sponsoredpost.topic, @sponsoredpost] do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, in: 50..150.0, step: 5, class: 'form-control', placeholder: 50 %>
      </div>
      <div class="form-group">
        <%= check_box_tag(:agree) %>
        <%= label_tag(:agree, "I agree to pay the above amount")%>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
